VITE_ADMIN_PIN=1234
VITE_CREATE_ROOM_URL=https://mano-pocker-api.vercel.app/api/room
VITE_GET_ROOM_URL=https://mano-pocker-api.vercel.app/api/room
VITE_JOIN_ROOM_URL=https://mano-pocker-api.vercel.app/api/join
VITE_ALREADY_JOINED_URL=https://mano-pocker-api.vercel.app/api/join/joined
VITE_START_GAME_URL=https://mano-pocker-api.vercel.app/api/room/start
VITE_LEAVE_ROOM_URL=https://mano-pocker-api.vercel.app/api/player/drop
VITE_RAISE_URL=https://mano-pocker-api.vercel.app/api/player/raise
VITE_MOVE_URL=https://mano-pocker-api.vercel.app/api/player/move
VITE_ROUND_URL=https://mano-pocker-api.vercel.app/api/room/round
VITE_FAILED_URL=https://mano-pocker-api.vercel.app/api/player/failed
VITE_WS_URL=ws://localhost:4541

# VITE_CREATE_ROOM_URL=http://192.168.1.16:4541/api/room
# VITE_GET_ROOM_URL=http://192.168.1.16:4541/api/room
# VITE_JOIN_ROOM_URL=http://192.168.1.16:4541/api/join
# VITE_ALREADY_JOINED_URL=http://192.168.1.16:4541/api/join/joined
# VITE_START_GAME_URL=http://192.168.1.16:4541/api/room/start
# VITE_LEAVE_ROOM_URL=http://192.168.1.16:4541/api/player/drop
# VITE_RAISE_URL=http://192.168.1.16:4541/api/player/raise
# VITE_MOVE_URL=http://192.168.1.16:4541/api/player/move
# VITE_ROUND_URL=http://192.168.1.16:4541/api/room/round
# VITE_FAILED_URL=http://192.168.1.16:4541/api/player/failed
# VITE_WS_URL=ws://192.168.1.16:4541
